<div  class="container-fluid">
<h4>Add a Friend</h4>
<%= form_tag("/friends", method: :post) do %>
  <table>
    <tr>
      <td style="padding:10px;"><%= label_tag(:friend_email, "Enter Friend Email:  ")%></td>

      <td><%= text_field_tag :friend_email,"", class: "form-control" %></td>
      <td><%= submit_tag :Add, class: "btn btn-default" %></td>
    </tr>
  </table>

<% end %>
<h4>Friends</h4>
<div class="row">
<div class="col-md-5">
<table class="table table-hover table-bordered" id="friend">
  <thead>
    <tr>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td><%= link_to "#{friend.name}", "friends/#{friend.id}/show",class: "btn btn-link " %></td>

        <td><%= link_to 'Remove', "/friends/#{friend.id}/remove", method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-link " %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<h4>Friend Requests</h4>
<div class="row">
  <div class="col-md-5">
<table class="table table-hover table-bordered" id="friend">  <thead>
    <tr>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |friend| %>
      <tr>
        <td><%= link_to "#{friend.name}", "friends/#{friend.id}/show",class: "btn btn-link " %></td>
      <td><%= link_to 'Accept', "/friends/#{friend.id}/accept", method: :put, data: { confirm: 'Are you sure?' },class: "btn btn-link " %> - <%= link_to 'Reject', "/friends/#{friend.id}/decline", method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-link " %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<br>
</div>
