<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @friend.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @friend.email %>
</p>

<p>
  <strong>Avatar:</strong>
<!--   <%= image_tag @friend.avatar.url() %>
 --></p>

<%= link_to 'Back', '/friends' %>
