
<div>
  <h1> all friends </h1>

  <% @currentUser.friends.each do |friend| %>

  <%= form_tag('/add_friend',method: "post") do %>
    <% if ( !(friend.following?(@group)) ) %>
            <%= friend.name %>
           <%= hidden_field_tag :friend_id , friend.id%>
           <%= hidden_field_tag :group_id, @group.id %>
         <%= submit_tag "add friend" %>
       <% end %>
    <% end %>
  <% end %>
  
</div>
