<p id="notice"><%= notice %></p>


<h1> new group </h1>
<%= render 'form', group: @group %>



<h1>Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @currentUser = current_user %>
    <% @groups.each do |group| %>
      <tr>
        <td> <%= link_to "#{group.name}", "group/#{group.id}/friends" %></td>
        <td><%= @currentUser.name %></td>
        <td>
          <%= form_tag('/list_member',method: "post") do %>
                   <%= hidden_field_tag :group_id, group.id %>
                 <%= submit_tag "list member" %>
               <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
