<%= form_for(currentUser) do |f| %>
  <% if currentUser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(currentUser.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% currentUser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
