<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @currentUser.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @currentUser.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @currentUser.email %>
</p>

<%= link_to 'Back', users_path %>
