<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @currentUser.name %>
</p>

<p>
  <strong>Profile Pic:</strong>
  <%= image_tag @currentUser.image.thumb('80x60').url  %>
</p>

<p>
  <strong>Email:</strong>
  <%= @currentUser.email %>
</p>

<%= link_to 'Back', users_path %>
