<p id="notice"><%= notice %></p>

<p>
  <strong>order Type:</strong>
  <%= @order.orderType %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @order.restaurant %>
</p>

<p>
  <strong>Image:</strong>
  <%= @order.image %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user.name %>
</p>
<%= link_to 'Back', user_orders_path %>


